.cardContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

@media screen and (max-width:1300px){
    .cardContainer {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:1050px){
    .cardContainer {
        grid-template-columns: 1fr;

        justify-items: center;
    }
}