.formContainer {
    position: fixed;

    top: 150px;
    right: 100px;

    display: grid;
    align-items: center;

    background-color: #e3f2fd;
}

@media screen and (max-width:800px) {
    .formContainer {
        position: relative;
        top: 0;
        right: 0;

        max-width: 300px;
    }
}
