.passwordCard {
    max-width: 300px;
    height: 250px;

    border-radius: 20px;

    display: grid;
    align-items: center;
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
}